body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.8;
    color: #2c2c2c;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 700;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
#address>div {
    margin-top: -60px;
    margin-bottom: 20px;
}
.modal-dialog {
    margin-top: 70px;
    width: 30%;
}
.kc {
    padding-top: 40px;
}
.information {
    background-color: rgb(206, 193, 17);
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 20px;
}
.col-sm-2>img {
    width: 87%;
}
.counter-text>h2, .counter-num>h3 {
    color: #fff;
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container {
    width: 90%;
}
.container-fluid {
    margin-top: 50px;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.counter-all {
    display: inline-block;
    margin-left: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
#about {
    margin-top: 0px;
    padding-bottom: 50px;
    background-color: rgb(247, 247, 247);
}
#tuition {
    background-color: rgb(247, 247, 247);
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    transition: box-shadow 0.5s;
}
.offers {
    color: red;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
}
.col-sm-2>button {
    margin-top: 40px;
}
.tuitionDetail>.col-sm-4>h2 {
    margin-top: -15px;
}
#tuition:hover, #about:hover {
    box-shadow: 20px 0px 20px rgba(0,0,0, .5);
}
#sign_up {
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(37, 158, 152, 0.5);
    border: 0px solid #aaa;
    border-radius: 30px;
    padding: 10px 0px;
    margin: -20px 25px 0px 25px;
}
.panel {
    background-color: #fff;
    transition: box-shadow 0.5s;
    border: none;
    padding: 20px 25px;
    height: 300px;
}
.first {
    background-color: hsl(165, 71%, 36%);
    color: #fff;
}
.panel>div>i {
    font-size: 35px;
}
.panel>.text {
    height: 60px;
}
.panel:hover {
    box-shadow: 10px 0px 40px rgba(0,0,0, .5);
    background-color: hsl(165, 71%, 36%);
    color: #fff;
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
#contact {
    margin: 50px 70px 0px 70px;
}
.navbar {
    margin-bottom: 0;
    background-color: hsl(165, 71%, 36%);
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.navbar-right>li>button {
    margin-top: 4px;
    border-radius: 10px;
    padding: 8px 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #f1a246;
}
.navbar-right>li>button:hover {
    color: rgb(46, 46, 46);
    background-color: rgb(236, 236, 236);
}
footer>.text-center{
    margin-bottom: -50px;
}
footer>.text-center>a {
    color: #000;
    text-decoration: none;
}
footer>#contact>.row>.col-sm-5 i, .glyphicon {
    color: #000;
    font-size: 20px;
    margin-right: 10px;
}
footer>.text-center .glyphicon {
    font-size: 20px;
    color: #f4511e;
}
.slideanim {
    visibility:hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
}