* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e9ebee;
}
.header {
    height: 43px;
    line-height: 43px;
    background-color: #4267b2;
    font-family: Arial, Helvetica, sans-serif;
}
.header .logo {
    display: flex;
}
a {
    text-decoration: none;
    font-size: 13px;
}
#logo-FB {
    margin-left: 7.5%;
    font-size: 28px;
    padding-top: 1px;
    color: #fff;
}
.header .logo .search{
    width: 39%;
    margin-left: 0.5%;
}
.header .logo .search input {
    border-radius: 2px;
    border: none;
    height: 23px;
    width: 72%;
    padding-top: 2px;
    padding-left: 5px;
}
.header .logo .search button {
    border-radius: 2px;
    border: none;
    height: 25px;
    width: 8%;
    padding-top: 2px;
    padding-left: 3px;
    margin-left: -2%;
}
.header .logo .menu-bar>a{
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
}
.header .logo .menu-bar i{
    font-size: 20px;
    color: rgb(49, 49, 49);
}
.header .logo .menu-bar #home,#tChu,.bell {
    border-right: 1px solid rgb(88, 88, 88);
    padding-right: 15px;
}
.header .logo .menu-bar #iconPro {
    margin-bottom: -8.5px;
    margin-right: -11px;
}
.header .logo .menu-bar>a>i:hover{
    color: #fff;
}
.left {
    width: 80%;
    margin-left: 10%;
}
.left .imageBia {
    width: 70%;
    height: 380px;
    font-family: Arial, Helvetica, sans-serif;
}
.left .imageBia #anhB{
    width: 110%;
    height: 335px;
}
.left .imageBia #anhAva{
    width: 11.5%;
    position: absolute;
    border: 4px solid #fff;
    margin-left: 1.2%;
    margin-top: 200px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.left .imageBia .infor-background {
    width: 100%;
    position: absolute;
    margin-left: 15%;
    margin-top: 265px;
    display: flex;
    color: #fff;
}
.infor-background .name {
    font-size: 18px;
    letter-spacing: 1px;
}
.infor-background .name h3{
    font-weight: 100;
    margin-bottom: 8px;
}
.infor-background a{
    color: rgb(43, 42, 42);
    padding: 4px 9px 4px 9px;
    background-color: #e9ebee;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.infor-background #friend{
    margin-left: 7%;
    margin-right: 1%;
    height: 16px;
    margin-top: 25px;
    border: 1px solid #a8a8a8;
}
.infor-background ul {
    margin-top: 26px;
    height: 23px;
    background-color: #e9ebee;
    border: 1px solid #a8a8a8;
}
.infor-background ul li{
    border-right: 1px solid #a8a8a8;
    padding-bottom: 5px;
    padding-top: 1px;
    display: inline;
}
.menu {
    width: 109.8%;
    height: 45px;
    margin-top: -4px;
    border: 1px solid #dfdede;
    background-color: #fff;
}
li {
    list-style-type: none;
}
.menu ul {
    margin-left: 24%;
}
.menu ul li{
    display: inline;
    height: 45px;
    line-height: 45px;
}
.menu ul li a{
    border-left: 1px solid #dfdede;
    font-size: 14px;
    color: rgb(23, 20, 39);
    font-weight: 600;
    padding: 16px 15px 13px 16px;
    letter-spacing: 1px;
}
.menu ul li #more {
    border-right: 1px solid #dfdede;
}
.left .content {
    width: 70%;
    display: flex;
    margin-top: 15px;
}
.left .content .infor{
    width: 40%;
}
.left .content .infor .intro{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border: 1px solid #dfdede;
    padding-top: 15px;
    padding-bottom: 5px;
}
.left .content .infor .intro .gThieu {
    padding-bottom: 13px;
    border-bottom: 1px solid #dfdede;
}
#icon{
    padding: 5.5px 5.5px 4.5px 6px;
    background-color: #4267b2;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color: #fff;
}
.infor .intro ul li {
    font-size: 14px;
    margin-top: 10px;
}
.infor .intro ul li i{
    margin-right: 5px;
}
.infor .intro ul li span>a{
    font-size: 14px;
}
#icon1{
    padding: 5.5px 5.5px 4.5px 6px;
    background-color: #5cc74e;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color: #fff;
}
.left .content .infor .image{
    margin-top: 13px;
    padding: 15px 5px 5px 5px;
    background-color: #fff;
    border: 1px solid #dfdede;
}
.left .content .infor .title{
    padding-left: 10px;
    padding-bottom: 15px;
}
.left .content .infor .anh{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3px;
    grid-column-gap: 3px;
}
#icon2{
    padding: 5.5px 5.5px 4.5px 6px;
    background-color: #ec3d6b;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    color: #fff;
}
.left .content .infor .listFriend{
    margin-top: 13px;
    background-color: #fff;
    border: 1px solid #dfdede;
    padding: 15px 5px 5px 5px;
}
.left .content .post .taoPost{
    margin-left: 15px;
    width: 199%;
    height: 150px;
    background-color: #fff;
    border: 1px solid #dfdede;
}
.left .content .post .taoPost .status{
    height: 35px;
    line-height: 35px;
    background-color: #f3f3f5;
    border-bottom: 1px solid #dfdede;
}
.left .content .post .taoPost .status li{
    margin-left: 15px;
    display: inline;
    font-size: 14px;
}
.taoPost .status .tao {
    padding-right: 13px;
    border-right: 1px solid #dfdede;
}
.taoPost .status li>a{
    color: #000;
    font-size: 14px;
}
.taoPost #picture {
    margin: auto 10px auto 10px;
}
.taoPost textarea {
    border: none;
    width: 85%;
    height: 40px;
    padding-top: 15px;
    margin-top: 5px;
}
.row {
    border-top: 1px solid #dfdede;
    margin-top: 5px;
}
.taoPost .button {
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
    float: right;
    margin-right: 10px;
    padding-top: 6px;
}
.taoPost .button>a{
    padding: 5px 17px 5px 17px;
    background-color: #4267b2;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
}












