* {
    margin: 0;
    padding: 0;
}
body {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    font-weight: lighter;
}
.container {
    width: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.layout {
    height: 40px;
    width: 100%;
    line-height: 40px;
}
.layout .shipping_bar {
    width: 50%;
    margin-left: 30px;
    float: left;
}
.layout .main_div {
    margin-right: 23px;
    float: right;
}
.layout .main_div .tpn li{
    display: inline-block;
    margin-right: 15px;
}
.layout .main_div .tpn li span{
    margin-right: 15px;
    font-size: 15px;
    font-family: Courier;
}
.layout .main_div .tpn li select{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    border: 0;
}
.logo {
    background-color: #51b142;
    height: 70px;
    line-height: 70px;
}
.logo img {
    width: 20.5%;
    float: left;
    margin: 7px 50px 10px 49px;
}
.logo .form_group .collections {
    width: 6.5%;
    height: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: #f6f6f6;
    border: 1px solid #d1cfcf;
}
.logo .form_group>input {
    width: 35%;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border: 1.2px solid #dddcdc;
    padding-left: 12px;
    margin: 15px 0px 7px -0.3%;
}
.logo .form_group .btn {
    width: 3.2%;
    height: 42px;
    font-size: 19px;
    border: 1px solid #ffffff;
    background-color: #51b142;
    color: #ffffff;
    margin-left: -0.4%;
}
.menu {
    height: 49px;
    line-height: 49px;
    background-color: #f2f8f8;
    border: 1px solid #d8d8d8;
    margin-top: -5px;
}
li {
    list-style-type: none;
    padding-left: 0px;
}
.menu .left {
    height: 49px;
    width: 84%;
    float: left;
    border: 1px solid #d8d8d8;
    margin-top: -8.5px;
}
.menu .left .list{
    margin-left: 30px;
}
.menu .left .list li{
    display: inline;
    margin-right: 20px;
}
.menu .left .list li a{
    font-size: 17px;
    font-weight: bold;
}
.menu .left .list li ul{
    display: none;
    position: absolute;
    padding-left: 10px;
}
.menu .left .list .helf ul {
    margin-top: 46px;
    margin-left: -42px;
}
.menu .left .list .helf ul li {
    display: list-item;
    height: 35px;
}
.menu .left .list li ul li a{
    color: #8f8f8f;
}
.menu .left .list li:hover ul{
    display: inline;
    background-color: #ffffff;
    border-top: 2px solid #51b142;
}
.menu .left .list>li:hover {
    border-top: 2px solid #51b142;
    padding-top: 12px;
}
.menu .right {
    font-size: 18px;
    float: right;
    margin: -5px 30px 0px 0px;
}
.image img {
    width: 95.7%;
    margin: 5px 30px auto 30px;
}

