* {
    margin: 0;
    padding: 0;
}
.container {
    width: 79.5%;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
.navbar-brand>img {
    width: 101px;
}
.collapse {
    float: right;
}
.nav>li>a {
    letter-spacing: 0.5px;
    font-weight: 700;
}
.navbar-default .navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a:hover {
    color: #0ba25e;
}
.nav>li>a#active {
    color: #0ba25e;
}
.fa-bell:before {
    content: "\f0f3";
    font-size: large;
}
.nav>li>a>img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.nav>li>a.text {
    margin-top: 10px;
}
#epl-btn {
    background-color: #324554;
    outline: 1px solid #324554;
    transition: background-color .3s;
    margin-left: 10px;
}
#epl-btn>a {
    color: #fff;
}
.left {
    letter-spacing: 1px;
    padding: 56px 0;
}
.right {
    padding: 84px 0;
}
h1 {
    font-size: 27px;
}
.hghtLight {
    display: block;
    color: #0ba25e;
    margin-bottom: 30px;
    font-size: 40px;
}
.left>p {
    font-size: 21px;
    letter-spacing: 0px;
}
.left .download {
    margin: 35px auto 15px auto;
    font-weight: bold;
}
.left .downloadNow {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 15px;
}
.left .downloadNow .dload>a{
    display: block;
    margin-bottom: 10px;
}
.left .downloadNow .dload>a>img{
    width: 150px;
    height: 45px;
}
.bell {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 10px;
    background-color: #0ba25e;
    border-radius: 50%;
    padding: 15px 18px;
}
.bell>a {
    color: #fff;
}